img{
    width: 400px;
    height: 200px;
}
body{
    font-family: arial,sans-serif;
    background-color: rgb(236, 236, 236);
}
/*desktop media*/
@media (min-width: 769px){
    .caja{
        display: flex;
        flex-direction: row;
    }
    #facebook{
        position: relative;
        width: 650px;
        left: 20px;
        bottom: 30px;
        font-size: 40px;
}
}

/*Tablet media*/
@media (max-width: 768px) and (min-width: 481px){
    .caja{
        display: flex;
        flex-direction: column;
        position: relative;
        right: 75px;
    }
    #facebook{
        width: 400px;
        font-size: 30px;
    }
    .right{
        position: relative;
        left: 75px;
    }
}

/*media mobile*/
@media (max-width: 480px) and (min-width: 1px){
    .caja{
        display: flex;
        flex-direction: column;
        position: relative;
        left: 55px;
    }
    #facebook{
        width: 300px;
        font-size: 30px;
    }
}
body, .caja, .left, .right, form, .boton{
    display: flex;
}
body{
    align-items: center;
    justify-content: center;
}
.caja{
    width: 1400px;
    height: 520px;
    position: relative;
    top: 100px;
    /*background-color: chartreuse;*/
    align-items: center;
    /*margin-top: 10%;*/
}
.left{
    width: auto;
    height: auto;
    /*background-color: blueviolet;*/
    flex-grow: 2;
    font-size: 35px;
    position: relative;
    left: 60px;
    bottom: 30px;
    text-align: center;
}
.right{
    width: auto;
    height: auto;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}
form{
    flex-direction: column;
    width: 450px;
    height: 350px;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 238, 227);
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(80, 80, 80);
}
button, input, a, p, .boton, #botonVerde, .right{
    padding: 10px;
    border: 10px;
    margin: 10px;
}
.boton{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    text-align: left;
}
.data{
    width: 335px;
    border: 1px solid rgb(136, 136, 136);
}
#botonEntrar{
    background-color: #007BFF;
    color: white;
    font-size: 28px;
    justify-content: center;
    font-weight: bolder;
}
a{
    text-decoration: none;
}
#line{
    width: 400px;
    padding: 0;
    border: 1px solid rgb(155, 155, 155);
}
#botonVerde{
    width: 190px;
    height: 42,4px;
    border-radius: 5px;
    margin: 20px;
    font-size: larger;
    color: white;
    background-color: rgb(21, 173, 29);
}
#crearCuenta{
    width: 420px;
    font-size: 18px;
}